.tablefirstdiv{
    height: 500px;
    width: 83%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #435c70;
    overflow: scroll;
    color: yellow;
}
.tablefirstdiv::-webkit-scrollbar {
    width:10px;
  }
  .tablefirstdiv::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

.orderhead{
    color: white;
    padding: 37px;
}
.table{
    color : white;
    background-color: rgb(78, 101, 122);
    /* border-collapse: collapse; */
    border-spacing: 0;
    border-spacing: 0;
    /* height: 100px; */
    
}

