.tablefirstdiv{
    height: 500px;
    width: 83%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #435c70;
    overflow: scroll;
   
}
.tablefirstdiv::-webkit-scrollbar {
    width:10px;
    background-color: #394f62;
  }
  .tablefirstdiv::-webkit-scrollbar-thumb {
    background-color: #6d8da6;
    outline: 1px solid rgb(78, 85, 92);
  }

.orderhead{
    color: white;
    padding: 30px;
}

.table{
    color : white;
    background-color: rgb(78, 101, 122);
    /* border-collapse: collapse; */
    border-spacing: 0;
   
    
}

